#header  {
	height: 132px;
	width: 100%;
	background-image: url(images/above-nav-bar.png);
	width: 100%;
	font-size: 24px;
	color: #fff;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	padding-top: 20px;
}


/* ~~ Top Navigation Bar ~~ */
.navigation-bar   {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("images/nav-bar-std.png");
}

.navigation-bar ul   {
	padding: 0px;
	margin: 0px;
  	text-align:center;
}

.navigation-bar li    {
	list-style-type: none;
	padding: 0px;
	height: 24px;
	margin-top: 4px;
	margin-bottom: 4px;
	display:inline;
  
}
.navigation-bar li a    {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
}

.navigation-bar li a:hover {
	background-image: url("images/nav-bar-hover.png");
	color: black;
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 2px;
	padding-right: 2px;
}
.navigation-bar li:first-child {
	margin-left:20px;
	border:#C00;
}